body {
background: radial-gradient(#353535 , #292929, black);
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 50px;
    font-family: fantasy;
    color: skyblue;
    font-weight: bold;
}

h2 {
    font-size: 40px;
    font-family: fantasy;
    color: black;
    font-weight: bold;
}

img {
    border-radius: 10px;
}

div#nav {
   position: relative;

}

.p1 {
    font-size: 25px;
    font-family: fantasy;
    color: darkslategray;
}

.p2{
    font-size: 25px;
    font-family: fantasy;
    color: darkred;
}

div#about {
    background-color: darkgray;
    border-radius: 10px;
    max-width: 700px;
}

div#services {
    background-color: darkgray;
    border-radius: 10px;
    max-width: 700px;
}

div#links {
    background-color: darkgray;
    border-radius: 10px;
    max-width: 1500px;
}

span {
  display: flex;
    flex-direction: row;
}

div {
margin: 20px;
}

button{
    border-radius: 5px;
    background-color: skyblue;
    border-color: black;
    text-decoration-color: black;
   margin-bottom: 20px;
}

div#all {
  text-align: center;  
display: inline-block;
}

.fade-in-image { animation: fadeIn 3s; }


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


